dmrg_env/*
command_notes.txt
sandbox*.ipynb
src/simple_dmrg/__pycache__/*
*.pyc
src/simple_dmrg.egg-info/*
simple_dmrg_example_trials.ipynb
*.xlsx
step_by_step.ipynb
single_block_case_conclusion_notes.txt
build/*
